/* General Styles */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 8%;
    background: black;
    opacity: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.resume {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #d6d3d1;
    font-weight: 500;
    cursor: pointer;
    margin-right: 100px;
}

.logo {
    width: 30px;
    cursor: default;
    height: 30px;
    margin-right: 10px; 
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    position: relative;
    font-size: 15px;
    color: #d6d3d1;
    font-weight: 500;
    margin-left: 45px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #A40606;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

/* Responsive Styles */
.menu-icon {
    display: none;
    font-size: 30px;
    color: #d6d3d1;
    cursor: pointer;
}

@media (max-width: 768px) {
    .header {
        padding: 15px 5%;
    }

    .resume {
        display: flex;
        margin-right: 0;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: black;
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
        transition: left 0.3s ease;
        z-index: 1000;
    }

    .navbar.open {
        left: 0;
    }

    .navbar a {
        margin: 15px 0;
        padding: 10px 20px;
        width: 100%;
        box-sizing: border-box;
        text-align: left;
        color: #fff;
        font-size: 18px;
    }

    .navbar a.active {
        background-color: #007BFF;
        color: #fff;
        border-radius: 5px;
    }

    .menu-icon {
        display: block;
    }

    .close-menu {
        color: red;
        cursor: pointer;
        margin-top: auto;
    }
}
