@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.skillsSection {
    padding: 40px;
    background-color: #000;
    margin-top: 15rem;
}

.skillTitleContainer {
    text-align: center;
    margin-bottom: 55px;
}

.skillTitle {
    font-size: 3.5rem;
    font-weight: 900;
    font-family: "Roboto Condensed", sans-serif;
    background: -webkit-linear-gradient(180deg, #A8142A 30%, #ffffff 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skillSubtitle {
    font-size: 1rem;
    margin-top: 25px;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

.recentWorksLink {
    color: #c57575;
    text-decoration: none;
}

.recentWorksLink:hover {
    text-decoration: underline;
}

.skillsContainer {
    margin: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.myskills {
    background-color: #111;
    padding: 20px;
    border-radius: 8px;
    width: 23%;
    border: 3px solid transparent;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
    margin: 10px;
    height: auto;
}

.myskills:hover {
    transform: scale(1.05);
    border-color: #A8142A;
}

.skillIcon {
    margin-bottom: 20px;
}

.myskillText {
    color: #fff;
}

.myskillText h2 {
    font-family: "Anton", sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
}

.myskillText p {
    margin: 0px;
    font-size: 14px;
    line-height: 2;
    color: #d1d1d1;
    opacity: 90%;
    cursor: default;
}

@media screen and (max-width: 1400px) {
    .myskillText > p {
        font-size: 3vw;
    }

    .skillSubtitle {
        font-size: 4.5vw;
    }

    .skillIcon {
        height: 2.25rem;
        width: 2.25rem;
    }

    .myskillText > h2 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1400px) {
    .skillsContainer {
        flex-direction: column;
        align-items: center;
    }

    .myskills {
        width: 80%;
        margin: 15px 0;
    }

    .myskillText h2 {
        margin-top: 0;
        margin-left: 0;
        text-align: center;
    }
}
