@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.Works {
    color: #fff;
    padding: 40px;
    background-color: #000;
}

.workContainer {
    margin-top: 15rem;
    text-align: center;
}

.workTitle{
    font-size: 40px;
    letter-spacing: 1px;
    font-family: "Anton", sans-serif;
    font-weight: 500;
    background: -webkit-linear-gradient(180deg, #A8142A 30%, #e7b9b9 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.workDesc{
    font-size: 20px;
    color: #fff;
}
